### Q1. Pandas version
What's the version of Pandas that you installed?

In [1]:
import pandas as pd
import numpy as np

pd.__version__

'2.3.2'

### Q2. Records count
How many records are in the dataset?

In [2]:
df = pd.read_csv("car_fuel_efficiency.csv")

In [3]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [4]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

### Q3. Fuel types
How many fuel types are presented in the dataset?

In [5]:
# how many fuel types are there?
df['fuel_type'].nunique()

2

### Q4. Missing values
How many columns in the dataset have missing values?

In [6]:
# missing values
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

### Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [7]:
df['origin'].unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [8]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

### Q6. Median value of horsepower
Find the median value of horsepower column in the dataset.

Next, calculate the most frequent value of the same horsepower column.

Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
Now, calculate the median value of horsepower once again.

Has it changed?

- Yes, it increased
- Yes, it decreased
- No

In [9]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [34]:
df['horsepower'].median()

np.float64(149.0)

In [27]:
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [30]:
df_fillna = df['horsepower'].fillna(df['horsepower'].mode()[0])

In [32]:
df_fillna.median()

np.float64(152.0)

### Q7. Sum of weights
Select all the cars from Asia

Select only columns vehicle_weight and model_year

Select the first 7 values

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

Invert XTX.

Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the sum of all the elements of the result?

Note: You just implemented linear regression. We'll talk about it in the next lesson.

In [ ]:
df_q7 = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7)
# df_q7 = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7).reset_index(drop=True)
df_q7

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [103]:
X = np.array(df_q7)
# X = df.loc[df['origin'] == 'Asia'][["vehicle_weight", "model_year"]].head(7).to_numpy()
print(X.shape)
XTX = X.T @ X
print(XTX.shape)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

(7, 2)
(2, 2)

In [106]:
# w = np.dot(np.dot(np.linalg.inv(XTX), X.T), y)
w = np.linalg.inv(XTX) @ X.T 
w = w @ y
w.sum()

np.float64(0.5187709081074016)